@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>禁止访问</title>
</head>
<body>
    <div>
        <h3>禁止访问</h3>
    </div>
</body>
</html>
