@{
    ViewBag.Title = "功能列表";
}

<div class="col-md-12 panel panel-blue" style="margin-top:10px">
    <div class="panel-heading">
        <h3>快速访问</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-2 text-center">
            <a href="#">
                <div>
                    <img src="/Images/icon/project.png" alt="没有" />
                </div>
                <div>
                    <p>测试</p>
                </div>
            </a>  
        </div>
        <div class="col-md-2 text-center">
            <a href="#">
                <div>
                    <img src="/Images/icon/project.png" alt="没有" />
                </div>
                <div>
                    <p>测试</p>
                </div>
            </a>
        </div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div><div class="col-md-2 text-center">
    <a href="#">
        <div>
            <img src="/Images/icon/project.png" alt="没有" />
        </div>
        <div>
            <p>测试</p>
        </div>
    </a>
</div>
    </div>
</div>
